
    .search-box {
        margin: 0 auto;
    }
    #box{
        width: 20em;
    }

    #mylogo{
        height: 2em;
        width: 2em;
        border-radius: 50%;
    }

    footer 
    {
        background-color: rgb(206, 200, 200);
        position: fixed;
        margin-top: 70vh;
    }

    header{
        margin-left: 0px;
    }