body{
    font-family: Arial, sans-serif;
    
}
    .search-box {
        margin-top: 258px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 3;
        flex-grow: 1;
    }

    .bottomofbox{
        position: absolute;
        top: -53.7em;
        transform: scale(0.01);
        left: 33em;
        z-index: 2;
    }

    .searchico{
        position: absolute;
        top: 129px;
        left: 42.6em;
        fill:white;
        color: rgb(95, 99, 104);
        z-index: 1;

    }

    #box{
        width: 582px;
        min-width: 54px;
        height: 44px;
        margin: 1.7em;
        border-width: 1px;
        border-radius: 50px;
        border-color: rgb(221, 221 ,221);
        background: url(searchicomaybe.png), url(https://upload.wikimedia.org/wikipedia/commons/e/e8/Google_mic.svg);
        background-repeat: no-repeat;
        background-size: 1.5em, 1.05em;
        background-position: 2.5%, 96.25%;
        padding-left: 50px;
        outline: none;
        border-style: solid;
        font-size: 16px;
        
    }

    #box:hover{
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    }

    #box::-webkit-search-cancel-button{
        position: relative;
        right: 62px;
        bottom: 2px;

        -webkit-appearance: none;
        height: 20px;
        width: 20px;
        background: url(clear_black_24dpmaybe.png);
    }

    #mylogo{
        height: 2em;
        width: 2em;
        border-radius: 50%;
    
    }
    #mylogo:hover{
        box-shadow: 0 0 5px rgb(112, 117, 122);
    }

    .apps{
        border-radius: 50%;
        padding: 6px;
        fill: rgb(223, 211, 211);
    } 
    
    .apps:hover{
        background-color: rgb(242, 242, 242);
    }

    footer 
    {
        background-color: rgb(242, 242, 242);
        
        position: fixed;
        bottom: 0;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 3em;
        align-items: center;
        justify-content: space-between;
        
    }
    ul.left{
        margin-left: 1.25em;
    }
    ul.right{
        margin-right: 1.25em;
    }
    

    header{
        position: fixed;
        height: 48px;
        width: 15em;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .links{
        text-decoration: none;
        font-size: 14px;
        color: rgb(112, 117, 122);
    }
    .links:hover
    {
        text-decoration: underline;
    }

    .top{
        color: rgba(0, 0, 0, 0.87);
        font-size: 13px;
    }

    ul{
        list-style-type: none;
    }
    li{
        display: inline-block;
        padding: 0.75em;
    }


    .buttons{
        width: 150px;
        height: 36px;
        font-size: 14px;
        transform: translateX(160px);
        border: none;
        border-radius: 4px;
        background-color: rgb(248, 249, 250);
        color:rgb(60, 64, 67);
        padding: 0 16px 0 16px;
        margin: 0 auto;
    }

    .buttons:hover{
        box-shadow: 0 0 1.5px black;
    }

    div.buttons{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .left{
        left: 0px;
    }

@media (max-width: 660px){
   
    footer{
        flex-direction: column;
        height:fit-content;
    }
}